@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
 /* shared style*/
.display-flex{
    display: flex;
  }

.btn-primary{
    color: white;
    border-radius: 8px;
    padding: 17px 22px;
    font-size: 1.00rem;
    border: none;
    background: rgb(255, 144, 14);
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 110px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.text-primary{
    color: rgb(255, 144, 14);
}
/* dark 02*/
.text-gray{
    color: #424242;
}
/* dark 03*/
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
 .navbar{
    justify-content: space-between;
    align-items: center;
 }
 .brand{
    font-size: 3rem;
    font-weight: 700;
 }
 .nav-item{
    list-style: none;
    margin-right: 30px;
 }
 .nav-link{
    text-decoration: none;
    font-weight: 500;
 }

 .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
 }
  /* banner style*/
 .banner-description{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
 }

 .banner-title{
    font-size: 4rem;
    font-weight: 700;
 }

 .banner-image{
    width: 100%;
 }

/*team style*/

.teams{
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-features{
    margin-left: 130px;
    max-width: 540px;
}
.fact-description{
    max-width: 540px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.sp-img{
    filter: grayscale(100%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
@media screen and (max-width: 567px){
    .navbar,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img,
    .facts-container,
    .sp-img
    {
        grid-template-columns: 1fr;
    }
    .sp-img{
        justify-items: center;
        gap: 10px;
    }
    .facts-container{
        justify-items: center;
        gap: 20px;
    }
    .our-features{
        margin-left: 20px;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 40px;
    }
}
